{# 
/** Format the archive.org ID with an iframe i
 * Source template: core/themes/stable/templates/field/field.html.twig
 */
#}

<div{{ attributes }} class="field">
  {% for item in items %}
    <div{{ title_attributes }}> <strong>Archive.org ID:</strong></div>
    <div{{ item.attributes }}>
      <a href="https://archive.org/details/{{ item.content }}">https://archive.org/details/{{ item.content }}</a>
      <br/>
      <div class='embed-container'>
        <iframe src="https://archive.org/embed/{{ item.content }}"
        width="500" height="30" frameborder="0"
        webkitallowfullscreen="true" mozallowfullscreen="true"
        allowfullscreen></iframe>
      </div>
    </div>
  {% endfor %} 
</div>

